<mat-card>
    <mat-card-content>
        <h3>Crear nuevo trabajador</h3>
        <form [formGroup]="trabajadorForm" (ngSubmit)="saveTrabajador()">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput placeholder="Id del trabajador" formControlName="id">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Usuario" formControlName="usuario">
            </mat-form-field>
            <div class="example-button-row">
                <button mat-raised-button color = "primary">Guardar</button> | <a mat-raised-button color = "accent" (click)="closePopup()">Cerrar</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>