<mat-card>
    <mat-card-content>
        <h3>Usuario Caixa:</h3>
        <form [formGroup]="caixaForm" (ngSubmit)="saveCaixa()">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput placeholder="Id de la empresa" formControlName="id">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>usuario_caixa</mat-label>
                <input matInput placeholder="usuario_caixa" formControlName="usuario_caixa">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>dc_us_caixa</mat-label>
                <input matInput placeholder="dc_us_caixa" formControlName="dc_us_caixa">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>idEmpresa</mat-label>
                <input matInput placeholder="idEmpresa" formControlName="idEmpresa">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>idTrabajador</mat-label>
                <input matInput placeholder="idTrabajador" formControlName="idTrabajador">
            </mat-form-field>

            <div class="example-button-row">
                <button mat-raised-button color="primary">Guardar</button> | <a mat-raised-button color="accent"
                    (click)="closePopup()">Cerrar</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>