<mat-card>
    <mat-card-content>
        <h3>Puestos</h3>
        <form [formGroup]="puestoForm" (ngSubmit)="submitPuesto()">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput placeholder="Id Proyecto" formControlName="id">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tecnología</mat-label>
                <input matInput placeholder="Tecnologia" formControlName="tecnologia">
            </mat-form-field>
           
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Función</mat-label>
                <input matInput placeholder="funcion" formControlName="funcion">
            </mat-form-field>
             
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>idProyecto</mat-label>
                <input matInput placeholder="idProyecto" formControlName="idProyecto">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>idTrabajador</mat-label>
                <input matInput placeholder="idTrabajador" formControlName="idTrabajador">
            </mat-form-field>
            

            <div class="example-button-row">
                <button mat-raised-button color = "primary">Guardar</button> | <a mat-raised-button color = "accent" (click)="closePopup()">Cerrar</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>