<mat-card>
    <mat-card-content>
        <h3>Puestos</h3>
        <form [formGroup]="puestoForm" (ngSubmit)="savePuesto()">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput placeholder="Id de la empresa" formControlName="id">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
            <div class="example-button-row">
                <button mat-raised-button color = "primary">Guardar</button> | <a mat-raised-button color = "accent" (click)="closePopup()">Cerrar</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>