<mat-card>
    <mat-card-content>
        <h3>Ordenador:</h3>
        <form [formGroup]="smartphoneForm" (ngSubmit)="saveSmartphone()">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput placeholder="Id de la empresa" formControlName="id">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>imei</mat-label>
                <input matInput placeholder="imei" formControlName="imei">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Marca</mat-label>
                <input matInput placeholder="marca" formControlName="marca">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Modelo</mat-label>
                <input matInput placeholder="modelo" formControlName="modelo">
            </mat-form-field>

            <div class="example-button-row">
                <button mat-raised-button color="primary">Guardar</button> | <a mat-raised-button color="accent"
                    (click)="closePopup()">Cerrar</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>